.container{
    width: 1100px;
    font-family: "Roboto";
}

.bg-light{
    background-color: white !important;
    height: 70px;
}

.navbar-brand a{
    font-family: "Anton";
    font-style: 25px;
}


.navbar-nav li.nav-item{
    margin: 0 10px;
}

.cta{
    width: 150px;
    height: 35px;
    background-color: rgb(173, 223, 206) !important;
    padding: 3px;
    border: none;
    color: blue;
}


.cta:hover{
    background-color: rgb(28, 28, 102);
    color: white !important;
}

.btn-default{
    background-color: rgb(179, 179, 179);
    color: black;
    font-size: 10px;
    border-radius: 13px;
}

.overflow-box{
    overflow: hidden;
    border-radius: 15px;
}

.banner{
    background-image: url(../img/post-1-img.jpg);
    background-size: cover;
    height: 500px;
    border-radius: 15px;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
    color: white;
    font-family: "Anton";
    word-spacing: 7px;
    font-weight: lighter;
    overflow: hidden;
    transition: all 1s;

}


.banner:hover{
    transform: scale(1.1);
}












